:root {
  --primary-color: #fcf9f4;
  --secondary-color: #4f7942;
}

header {
  background: var(--primary-color);
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
}
.navbar {
  background-color: #eee5d8 !important;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-item {
  margin: auto 20px;
}
.nav-link {
  transition: transform 0.3s ease-in;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  transform: scale(1.3);
  color: var(--secondary-color);
}

.mini-logo {
  width: 45px;
}

h3 {
  font-size: 22px;
}
.logo {
  display: flex;
  justify-content: center;
  margin: 150px auto 50px auto;
  width: 230px;
  transition: transform 0.5s ease-in;
}

.logo:hover {
  transform: scale(2);
}

.name-homepage {
  text-align: center;
  font-size: 90px;
  font-family: "Poppins", sans-serif;
  text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 8px #fff, 0 0 10px #8ca584,
    0 0 15px #4f7942, 0 0 10px #74926a, 0 0 15px #6b8b61, 0 0 30px #6c8864;
}

.welcome-text {
  text-align: center;
  padding: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.homepage-get-startet-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.homepage-container {
  margin-top: 300px;
}
.home-image {
  transition: transform 0.6s ease-in;
  opacity: 0.6;
}
.home-image:hover {
  transform: scale(1.1);
  border: 1px solid rgba(79, 121, 66, 0.5);
  opacity: 1;
}

i {
  color: var(--secondary-color);
  text-align: center;
  font-size: 30px;
  margin: auto;
}

/*about-page*/

.about-container {
  margin-top: 150px;
}

.about-me {
  margin-bottom: 150px;
}

.about-me p {
  font-size: 18px;
}

.photo-image {
  transition: transform 0.8s ease-in;
  width: 450px !important;
  opacity: 0.5;
}

.photo-image:hover {
  opacity: 1;
  transform: scale(1.2);
  border: 6px solid rgba(79, 121, 66, 0.5);
}
.img-fluid {
  width: 400px;
}

.btn-primary {
  background-color: var(--secondary-color);
  padding: 20px;
  font-size: 20px;
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.link-button {
  text-decoration: none;
  color: var(--primary-color);
}

.link-button:hover {
  color: var(--secondary-color);
}

.card {
  margin: 30px 50px;
  --x: 50%;
  --y: 50%;

  position: relative;
  appearance: none;
  padding: 1em 2em;
  cursor: pointer;
  outline: none;
  border-radius: 6px;

  background: linear-gradient(white, white) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #9bc47a, #99a56e)
      border-box;

  border: 4px solid transparent;
  transition: border-color 0.5s ease-in;
}

.card:hover {
  border-color: #556b2f;
}

li {
  font-size: 18px;
}
.about-me-card {
  font-size: 18px;
}

.about-footer {
  margin: 60px auto;
}

@media only screen and (max-width: 800px) {
  .logo {
    width: 130px;
  }
  .name-homepage {
    font-size: 55px;
  }
  .welcome-text {
    font-size: 18px;
  }
  .homepage-get-startet-btn {
    padding: 12px !important;
  }
  .link-button {
    font-size: 16px;
  }
  .homepage-container {
    margin-top: 100px;
    text-align: center;
  }
  .home-text {
    text-align: center;
  }

  .about-me-text {
    text-align: center;
  }

  .homepage-container img.img-fluid.rounded {
    width: 350px;
    height: 200px;
  }

  i {
    font-size: 25px;
    padding: 20px;
  }
  .about-me {
    margin-bottom: 50px;
  }
  .photo-image {
    padding-top: 50px !important;
    padding-bottom: 20px;
    opacity: 1 !important;
  }

  button {
    padding: 12px !important;
    margin: 25px;
  }

  li,
  p {
    font-size: 14px !important;
  }
}
